<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="OPENPAY_CASHIER_MODEL" value="IvanSotelo\OpenpayCashier\Tests\Fixtures\User"/>
        <env name="OPENPAY_CASHIER_PAYMENT_NOTIFICATION" value="IvanSotelo\OpenpayCashier\Notifications\ConfirmPayment"/>
    </php>
</phpunit>